<button mat-button [matMenuTriggerFor]="menu" (menuOpened)="isMenuOpened = true;" (menuClosed)="isMenuOpened = false;">
  <span>{{ selectedFilter === 'All Subject Type' ? 'Subject Type' : selectedFilter }}</span>
  <mat-icon [fontIcon]="isMenuOpened ? 'expand_more' : 'expand_less'"></mat-icon>
</button>
<mat-menu #menu="matMenu" (click)="$event.stopPropagation();">
  @for (filter of filters; track filter) {
  <a mat-menu-item (click)="$event.stopPropagation(); selectedFilter = filter;" routerLink="."
    [queryParams]="{'subjectType': filter === 'All Subject Type' ? undefined : filter }" queryParamsHandling="merge">
    <div>
      <span>{{ filter }}</span>
      <mat-icon [fontIcon]="filter === selectedFilter ? 'radio_button_checked' : 'radio_button_unchecked'"></mat-icon>
    </div>
  </a>
  }
</mat-menu>