<div class="footer">
    <h1 class="__title">Supported By</h1>
    <div class="__images">
        <img height="80" width="80" src="assets/pictures/INLE.png">
        <img height="80" src="assets/pictures/USAID.png">
        <img height="80" src="assets/pictures/CIPE.png">
        <img height="30" src="assets/pictures/AL.png">
        <img height="80" src="assets/pictures/ASET.png">
        <img height="50" src="assets/pictures/DG_IREX.png">
        <img height="60" src="assets/pictures/ODC.png">
    </div>
</div>