<div class="footer" style="background-color: #fff4fb; margin: 0; padding-top: 50px; padding-bottom: 50px;">
    <h1 class="__title">Supported By</h1>
    <div class="__images">
        <img height="120" width="120" src="assets/pictures/INLE.png">
        <img height="69" width="177" src="assets/pictures/USAID.png">
        <img height="111" width="177" src="assets/pictures/CIPE.png">
        <img height="26" width="177" src="assets/pictures/AL.png">
        <img height="107" width="150" src="assets/pictures/ASET.png">
        <img height="54" width="177" src="assets/pictures/DG_IREX.png">
        <img height="68" width="177" src="assets/pictures/ODC.png">
    </div>
</div>