.footer {
    background-color: #fff4fb; 
    margin: 0;
    padding: 2rem 0;
    
    & .__title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 40px;
        text-align: center;
        font-family: 'DM Sans', sans-serif;
    }

    & .__images {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
    }
}

// Block

// Element

// Modifier